:root {
  --bg: rgb(199, 196, 202);
  --main: rgb(32, 6, 69);
  --white: rgb(190, 190, 190);
  --dark: rgb(0, 0, 0);
  --primary: rgb(50, 206, 154);
  --placeholder: rgb(106, 102, 108);
  --body-color: #010c15;
  --box-bg: #cf6b2b;
  --box-fg: var(--body-color);
  --box-border: #d3d3d3;
  --box-width: 150px;
  --border-radius: 5px;
  color-scheme: light;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'JetBrains Mono';
  font-size: 16px;
}

.prevent-select {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and 11 */
  user-select: none;
  /* Standard syntax */
}

.main-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* background-color: #cf6b2b; */
}

.parent {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 4px;
  text-align: center;
  margin: 1rem;
}

.div1 {
  grid-column: span 6 / span 6;
}

.div2 {
  grid-column: span 6 / span 6;
  grid-row: span 2 / span 2;
  grid-row-start: 2;
  display: inline;
  flex-direction: row;
  align-items: end;
}

.div3 {
  margin-top: -20px;
  grid-column: span 6 / span 6;
  grid-row-start: 4;
}

.div4 {
  grid-row: span 2 / span 2;
  grid-row-start: 5;
}

.div5 {
  grid-column: span 4 / span 4;
  grid-row: span 2 / span 2;
  grid-row-start: 5;
  display: flex;
  align-items: center;
  background-color: rgb(250, 235, 215)
}

.div6 {
  grid-row: span 2 / span 2;
  grid-column-start: 6;
  grid-row-start: 5;
}

.div7 {
  grid-column: span 6 / span 6;
  grid-row-start: 7;
}

.main-intro-div1 {
  font-size: 1.5rem;
}

.main-intro {
  max-width: 180px;
}

.nav-body {
  height: 7.5vh;
  display: grid;
  overflow: hidden;
  place-content: center;
}

.blur-navbar {
  height: 7.5vh;
  display: grid;
  overflow: hidden;
  place-content: center;
  background-color: red;
}

.blur {
  background-color: black;
  z-index: 2;
}

nav {
  margin: 10%;
  display: flex;
  text-align: center;
  box-shadow: 0 5px 50px 0px rgba(255, 255, 255, 0.3);
}

nav a {
  transition: 0.2s;
  color: var(--box-fg);
  text-decoration: none;
  width: var(--box-width);
  background: var(--box-bg);
  padding: calc(var(--box-width) / 10);
}

nav a:first-child {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

nav a:last-child {
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

nav:hover a {
  filter: blur(3px);
  opacity: 0.5;
  outline: 1px solid var(--box-bg);
}

nav:hover a:hover {
  filter: blur(0px);
  opacity: 1;
  outline: 1px solid var(--box-border);
}

.wrapper {
  width: 80%;
  height: 100%;
  margin-left: 25px;
  display: grid;
  align-items: center;
}

.wrapper>* {
  grid-column: 1;
  grid-row: 1;
  color: var(--white);
}

.wrapper input {
  position: relative;
  border: 1.5px solid var(--white);
  border-radius: 0.25rem;
  outline: none;
  background-color: transparent;
  color: var(--white);
  padding: 1rem;
  z-index: 0;
  transition: border-color 0.5s;
  text-align: center;
  letter-spacing: 2px;
}

.wrapper input:focus {
  border-color: var(--primary);
  color: var(--dark);
  text-align: center;
  letter-spacing: 2px;
}

.wrapper input:focus~span,
.wrapper input:not(:placeholder-shown)~span {
  transform: translateY(-1.8rem) scale(0.75);
  padding: 0 0.25rem;
  color: var(--dark);
}

.wrapper span {
  width: max-content;
  margin-left: 1rem;
  color: var(--placeholder);
  transition: transform 0.5s;
}

.submit-btn {
  margin-left: 15px;
  width: 150px;
  height: 50px;
}

.submit-btn:hover {
  background-color: #cf6b2b;
  cursor: pointer;
}