@media only screen and (min-width: 481px) and (max-width: 992px) {}

@media (max-width: 480px) {
    .parent {
        display: block;
        align-items: center;
    }
    
}

@media (max-width: 374px) {
    * {
        display: none;
    }
}